// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import 'variables';

// reset styles
*{
    color: inherit;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img{
    max-width: 100%;
}

h1{
    color: $primary;
    margin-bottom: $base-margin;
}

a{
    color: $secondary;
}

button {
    color: white;
    border: 0;
    background: $primary;
    border-radius: $base-border-radius;
    padding: $base-padding;
}

.error{
    color: $error;
    border-color: $error;
    border-style: solid;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}

.notification{
    color: $secondary;
    border-color: $secondary;
    border-style: solid;
    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}